{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Ajoutez un projet</div>
                    <div class="panel-body">
                            <h2>{{ project.name }}</h2>
                            <h4>{{ project.description }}</h4>
                        {{ form_start(form) }}
                        {% if project.equipes == 1 %}
                        <div class="form_group">
                            <div class="col-md-8 col-md-offset-2" >
                                {{ form_label(form.personne1, 'Talent 1',{'attr': {'class': 'form-control'}}) }}
                                {{ form_widget(form.personne1, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                            <div class="form_group">
                                <div class="col-md-8 col-md-offset-2" style="display: none">
                                    {{ form_label(form.personne2, 'Talent 2',{'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.personne2, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="col-md-8 col-md-offset-2" style="display: none">
                                    {{ form_label(form.personne3, 'Talent 3',{'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.personne3, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="col-md-8 col-md-offset-2" style="display: none">
                                    {{ form_label(form.personne4, 'Talent 4',{'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.personne4, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        {% endif %}
                        {% if project.equipes == 2 %}
                            <div class="form_group">
                                <div class="col-md-8 col-md-offset-2">
                                    {{ form_label(form.personne1, 'Talent 1',{'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.personne1, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        <div class="form_group">
                            <div class="col-md-8 col-md-offset-2">
                                {{ form_label(form.personne2, 'Talent 2',{'attr': {'class': 'form-control'}}) }}
                                {{ form_widget(form.personne2, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                            <div class="form_group">
                                <div class="col-md-8 col-md-offset-2" style="display: none">
                                    {{ form_label(form.personne3, 'Talent 3',{'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.personne3, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="col-md-8 col-md-offset-2" style="display: none">
                                    {{ form_label(form.personne4, 'Talent 4',{'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.personne4, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        {% endif %}
                         {% if project.equipes == 3 %}
                             <div class="form_group">
                                 <div class="col-md-8 col-md-offset-2">
                                     {{ form_label(form.personne1, 'Talent 1',{'attr': {'class': 'form-control'}}) }}
                                     {{ form_widget(form.personne1, {'attr': {'class': 'form-control'}}) }}
                                 </div>
                             </div>
                             <div class="form_group">
                                 <div class="col-md-8 col-md-offset-2">
                                     {{ form_label(form.personne2, 'Talent 2',{'attr': {'class': 'form-control'}}) }}
                                     {{ form_widget(form.personne2, {'attr': {'class': 'form-control'}}) }}
                                 </div>
                             </div>
                             <div class="form_group">
                            <div class="col-md-8 col-md-offset-2">
                                {{ form_label(form.personne3, 'Talent 3',{'attr': {'class': 'form-control'}}) }}
                                {{ form_widget(form.personne3, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                             <div class="form_group">
                                 <div class="col-md-8 col-md-offset-2" style="display: none">
                                     {{ form_label(form.personne4, 'Talent 4',{'attr': {'class': 'form-control'}}) }}
                                     {{ form_widget(form.personne4, {'attr': {'class': 'form-control'}}) }}
                                 </div>
                             </div>
                         {% endif %}
    {% if project.equipes == 4 %}
        <div class="form_group">
            <div class="col-md-8 col-md-offset-2">
                {{ form_label(form.personne1, 'Talent 1',{'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.personne1, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
                            <div class="form_group">
                                <div class="col-md-8 col-md-offset-2">
                                    {{ form_label(form.personne2, 'Talent 2',{'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.personne2, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="col-md-8 col-md-offset-2">
                                    {{ form_label(form.personne3, 'Talent 3',{'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.personne3, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        <div class="form_group">
                            <div class="col-md-8 col-md-offset-2">
                                {{ form_label(form.personne4, 'Talent 4',{'attr': {'class': 'form-control'}}) }}
                                {{ form_widget(form.personne4, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


{% endif %}
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-user"></i> Lancer mon projet
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}