{% extends 'baseHome.html.twig' %}

{% block title %}Tous les profils {% endblock %}

{% block activepofile %} active {% endblock %}

{% block body %}
    <div class="panel-header" style="background-image:url(/img/profil_hero_bg.png)">
        <div class="header text-center">
            <h2 class="title">Tous les profils</h2>
            <p class="category">{{ results|length }} résultats</p>
        </div>
    </div>

    <div class="content content-no-card">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                {% for profile in results %}
                    <div class="profile-result col-md-4">
                        <img src="{{ not profile.photo ? '/img/missing.png' : profile.photo }}" alt="{{ profile.firstname~" "~profile.lastname }}" class="profile-photo img-raised">
                        <div class="profile-card card card-raised">
                            <div class="card-body">
                                <div class="profile-header">
                                    <h3 class="profile-fullname">{{ profile.firstname~" "~profile.lastname }}</h3>
                                    <span class="profile-title">{{ profile.title }}</span>
                                </div>
                                <ul class="skills-list">
                                    {% for skill in profile.skills %}
                                        <li class="tag"><a href="/home/search?q={{ skill }}">{{ skill }}</a></li>
                                    {% endfor %}
                                </ul>
                                <p class="profile-description">
                                    {{ profile.resume }}
                                </p>
                                <a href="{{ path('profile', {'id': profile.id}) }}" class="btn btn-primary">Voir le profil</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h3>Aucun profil correspondant à votre recherche.</h3>
                {% endfor %}
                </div>
            </div>
            <div class="col-md-3 card card-raised">
                <div class="card-body">
                    <h5 class="card-category">Compétences recherchées</h5>
                    <ul class="tags-list">
                        <li class="tag"><a href="/home/search?q=marketing">marketing</a></li>
                        <li class="tag"><a href="/home/search?q=motion">motion</a></li>
                        <li class="tag"><a href="/home/search?q=php">php</a></li>
                        <li class="tag"><a href="/home/search?q=js">js</a></li>
                        <li class="tag"><a href="/home/search?q=html">php</a></li>
                        <li class="tag"><a href="/home/search?q=css">css</a></li>
                        <li class="tag"><a href="/home/search?q=adobe">adobe</a></li>
                        <li class="tag"><a href="/home/search?q=Photoshop">Photoshop</a></li>
                        <li class="tag"><a href="/home/search?q=Illustrator">Illustrator</a></li>
                        <li class="tag"><a href="/home/search?q=After Effect">After Effect</a></li>
                    </ul>
                    <hr>
                    <h5 class="card-category">Hobbies</h5>
                    <ul class="tags-list">
                        <li class="tag"><a href="/home/search?q=cinema">cinema</a></li>
                        <li class="tag"><a href="/home/search?q=batteur">batteur</a></li>
                        <li class="tag"><a href="/home/search?q=basket">basket</a></li>
                        <li class="tag"><a href="/home/search?q=PSG">psg</a></li>
                        <li class="tag"><a href="/home/search?q=Rocket League">Rocket League</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}