{% extends 'baseHome.html.twig' %}

{% block title %}Modifier le profil{% endblock %}
{% block activepofile %} active {% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="panel-header panel-header-lg" style="background-image:url(/img/profil_hero_bg.png)">
        <div class="container-fluid">
            <div class="row">
                <div class="photo col-md-4" style="display:flex; justify-content:center">
                    <img src="{{ profile.photo }}" class="rounded-circle img-raised" style="width:220px; height:220px;">
                    {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-md-4< d-flex flex-column justify-content-center no-border">
                    <div class="input-group input-big no-border">
                        {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                        {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                    </div>
                    <div class="input-group no-border">
                        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Développeur web, Webdesigner, Motion Designer, ...'}}) }}
                    </div>
                    <div class="input-group no-border">
                        {{ form_widget(form.location, {'attr': {'class': 'form-control', 'placeholder': 'Adresse, Ville'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-stats card-raised">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="profile[resume]">A propos de vous</label>
                            {{ form_widget(form.resume, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="profile[skills]">Compétences</label>
                            <ul class="skills-list">
                                {% for skill in profile.skills %}
                                    <li class="tag">{{ skill }}</li>
                                {% endfor %}
                            </ul>
                            {{ form_widget(form.skill, {'attr': {'class': 'form-control tag-add skill'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="profile[hobbies]">Ce que vous aimez faire</label>
                            <ul class="hobbies-list">
                                {% for hobby in profile.hobbies %}
                                    <li class="tag">{{ hobby }}</li>
                                {% endfor %}
                            </ul>
                            {{ form_widget(form.hobby, {'attr': {'class': 'form-control tag-add hobby'}}) }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Modifier</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{ form_widget(form.hobbies, {'attr': {'class': 'hobbies'}}) }}
    {{ form_widget(form.skills, {'attr': {'class': 'skills'}}) }}
    {{ form_end(form) }}
{% endblock %}