{% extends 'baseHome.html.twig' %}
{% block activedash %} class="active"{% endblock %}
{% block body %}
<div class="panel-header panel-header-lg" style="background-image:url(/img/baniere_dashboard.png)">

    <div class="container-fluid bouton-dashboard">




        <a class="btn btn-primary btn-round btn-large" href="{{ path('add-project') }}">Lancer un Projet</a>



        <a class="btn btn-primary btn-round btn-large" href="">Trouver une Formation</a>



    </div>






</div>


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-stats card-raised">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-primary">
                                        <i class="now-ui-icons ui-2_chat-round"></i>
                                    </div>
                                    <h3 class="info-title">PMD</h3>
                                    <h6 class="stats-title">Promo</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-success">
                                        <i class="now-ui-icons business_chart-pie-36"></i>
                                    </div>
                                    <h3 class="info-title">33</h3>
                                    <h6 class="stats-title">Projets</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-info">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </div>
                                    <h3 class="info-title">55</h3>
                                    <h6 class="stats-title">Utilisateurs</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple" data-toggle="dropdown">
7 days
</button> -->

    <div class="row">
        {% if profile.firstname == null or profile.personality == null or profile.photo == null %}


            <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header">
                            <h5 class="card-category">1er Connexion</h5>

                            <h2 class="card-title text-center ">Créer mon profil</h2>


                            <h4 class="text-center">Profile completé à <b style="color:green">15%</b></h4>
                        
                        </div>
                        <div class="card-body row">
                            {% if profile.firstname ==null %}
                                <div class="col-md-4" style="display:flex; justify-content:center">
                                    <a class="btn btn-primary btn-round" style="margin:1em auto" href="{{ path('edit_profile') }}">Remplir mon profil</a>
                                </div>
                            {% endif %}
                            {% if profile.personality ==null %}
                                <div class="col-md-4" style="display:flex; justify-content:center">
                                    <a class="btn btn-primary btn-round" style="margin:1em auto" href="{{ path('test') }}">Passez le test de personalité</a>
                                </div>
                            {% endif %}
                            {% if profile.photo ==null %}
                                <div class="col-md-4" style="display:flex; justify-content:center">
                                    <a class="btn btn-primary btn-round" style="margin:1em auto" href="">Ajoutez une image</a>
                                </div>
                            {% endif %}


                    </div>
                    </div>
            </div>
        {% endif %}
        {% if profile.firstname !=null %}
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header">
                        <h5 class="card-category">Mon profil</h5>
                        <h2 class="card-title">{{ profile.firstname }} {{ profile.lastname }}</h2>
                        <div class="photo">
                            <img src="{{ profile.photo }}" class="rounded-circle img-raised">
                        </div>

                    </div>
                    <div class="card-body col-md-12" style="display:flex; justify-content:center">
                        <a class="btn btn-primary btn-round" style="margin:1em auto" href="{{ path('profile', {'id': app.user.profile.id}) }}">Voir mon profil</a>
                    </div>
                </div>
            </div>
        {% endif %}


            
    {% if project != null %}
            
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Projets en cours</h5>
                    <h2 class="card-title">{{ project.name }}</h2>
                </div>
                <div class="card-body">
                    <div>

                        <p>{{ project.description }}</p>


                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            {% if personne1 != null %}
                                <tr>
                                <td>
                                    <div class="photo">
                                        <img src="{{ personne1.photo }}" class="rounded-circle img-raised" style="width:40px;">
                                    </div>
                                </td>
                                <td>{{ personne1.firstname }}</td>
                                <td class="text-right">
                                    {{ project.personne1 }}
                                </td>
                                <td class="text-right">
                                    <i class="fas fa-check"></i>
                                </td>
                                </tr>
                                {% else %}
                                    <tr>
                                        <td>
                                            <div class="photo">
                                                <img src="/img/missing.png" class="rounded-circle img-raised" style="width:40px;">
                                            </div>
                                        </td>
                                        <td>Encore Disponible</td>
                                        <td class="text-right">
                                            {{ project.personne1 }}
                                        </td>
                                        <td class="text-right">
                                            <i class="fas fa-stopwatch"></i>
                                        </td>
                                    </tr>
                            {% endif %}
                            {% if personne2 != null %}
                                <tr>
                                    <td>
                                        <div class="photo">
                                            <img src="{{ personne2.photo }}" class="rounded-circle img-raised" style="width:40px;">
                                        </div>
                                    </td>
                                    <td>{{ personne2.firstname }}</td>
                                    <td class="text-right">
                                        {{ project.personne2 }}
                                    </td>
                                    <td class="text-right">
                                        <i class="fas fa-check"></i>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        <div class="photo">
                                            <img src="/img/missing.png" class="rounded-circle img-raised" style="width:40px;">
                                        </div>
                                    </td>
                                    <td>Encore Disponible</td>
                                    <td class="text-right">
                                        {{ project.personne2 }}
                                    </td>
                                    <td class="text-right">
                                        <i class="fas fa-stopwatch"></i>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if personne3 != null %}
                                <tr>
                                    <td>
                                        <div class="photo">
                                            <img src="{{ personne3.photo }}" class="rounded-circle img-raised" style="width:40px;">
                                        </div>
                                    </td>
                                    <td>{{ personne3.firstname }}</td>
                                    <td class="text-right">
                                        {{ project.personne3 }}
                                    </td>
                                    <td class="text-right">
                                        <i class="fas fa-check"></i>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        <div class="photo">
                                            <img src="/img/missing.png" class="rounded-circle img-raised" style="width:40px;">
                                        </div>
                                    </td>
                                    <td>Encore Disponible</td>
                                    <td class="text-right">
                                        {{ project.personne3 }}
                                    </td>
                                    <td class="text-right">
                                        <i class="fas fa-stopwatch"></i>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if personne4 != null %}
                                <tr>
                                    <td>
                                        <div class="photo">
                                            <img src="{{ personne4.photo }}" class="rounded-circle img-raised" style="width:40px;">
                                        </div>
                                    </td>
                                    <td>{{ personne4.firstname }}</td>
                                    <td class="text-right">
                                        {{ project.personne4 }}
                                    </td>
                                    <td class="text-right">
                                        <i class="fas fa-check"></i>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        <div class="photo">
                                            <img src="/img/missing.png" class="rounded-circle img-raised" style="width:40px;">
                                        </div>
                                    </td>
                                    <td>Encore Disponible</td>
                                    <td class="text-right">
                                        {{ project.personne4 }}
                                    </td>
                                    <td class="text-right">
                                        <i class="fas fa-stopwatch"></i>
                                    </td>
                                </tr>
                            {% endif %}



                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>

        {% endif %}
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header">
                    <h5 class="card-category">Rappel</h5>
                    <h2 class="card-title">Todo</h2>



                </div>
                <div class="card-body">
                    <textarea name="" id="" cols="40" rows="1"></textarea>
                    <textarea name="" id="" cols="40" rows="1"></textarea>
                    <textarea name="" id="" cols="40" rows="1"></textarea>
                    <textarea name="" id="" cols="40" rows="1"></textarea>
                    <textarea name="" id="" cols="40" rows="1"></textarea>
                    <textarea name="" id="" cols="40" rows="1"></textarea>
                    <textarea name="" id="" cols="40" rows="1"></textarea>
                    <textarea name="" id="" cols="40" rows="1"></textarea>


                </div>
            </div>
        </div>
    
        


        


    </div>

    <<div class="content content-no-card">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
            {% if profile1 != null %}



                        <div class="profile-result col-md-4">
                            <img src="{{ not profile1.photo ? '/img/missing.png' : profile1.photo }}" alt="{{ profile1.firstname~" "~profile1.lastname }}" class="profile-photo img-raised">
                            <div class="profile-card card card-raised">
                                <div class="card-body">
                                    <div class="profile-header">
                                        <h3 class="profile-fullname">{{ profile1.firstname~" "~profile1.lastname }}</h3>
                                        <span class="profile-title">{{ profile1.title }}</span>
                                    </div>

                                    <p class="profile-description">
                                        {{ profile1.resume }}
                                    </p>
                                    <a href="{{ path('profile', {'id': profile1.id}) }}" class="btn btn-primary">Voir le profil</a>
                                </div>
                            </div>
                        </div>

            {% endif %}
            {% if profile2 != null %}



                        <div class="profile-result col-md-4">
                            <img src="{{ not profile2.photo ? '/img/missing.png' : profile2.photo }}" alt="{{ profile2.firstname~" "~profile2.lastname }}" class="profile-photo img-raised">
                            <div class="profile-card card card-raised">
                                <div class="card-body">
                                    <div class="profile-header">
                                        <h3 class="profile-fullname">{{ profile2.firstname~" "~profile2.lastname }}</h3>
                                        <span class="profile-title">{{ profile2.title }}</span>
                                    </div>

                                    <p class="profile-description">
                                        {{ profile2.resume }}
                                    </p>
                                    <a href="{{ path('profile', {'id': profile2.id}) }}" class="btn btn-primary">Voir le profil</a>
                                </div>
                            </div>
                        </div>


            {% endif %}
            {% if profile3 != null %}


                        <div class="profile-result col-md-4">
                            <img src="{{ not profile3.photo ? '/img/missing.png' : profile3.photo }}" alt="{{ profile3.firstname~" "~profile3.lastname }}" class="profile-photo img-raised">
                            <div class="profile-card card card-raised">
                                <div class="card-body">
                                    <div class="profile-header">
                                        <h3 class="profile-fullname">{{ profile3.firstname~" "~profile3.lastname }}</h3>
                                        <span class="profile-title">{{ profile3.title }}</span>
                                    </div>
                                    <p class="profile-description">
                                        {{ profile3.resume }}
                                    </p>
                                    <a href="{{ path('profile', {'id': profile3.id}) }}" class="btn btn-primary">Voir le profil</a>
                                </div>
                            </div>
                        </div>

            {% endif %}

                </div>
            </div>


    </div>

</div>
{% endblock %}