{% extends 'baseHome.html.twig' %}

{% block title %}{{ profile.firstname~" "~profile.lastname }}{% endblock %}

{% block activepofile %} active {% endblock %}

{% block body %}
    <div class="panel-header panel-header-lg" style="background-image:url(/img/profil_hero_bg.png)">
    </div>

    <div class="content profile-container">
        <div class="row">
            <div class="profile-result col-md-8">
                <img src="{{ not profile.photo ? '/img/missing.png' : profile.photo }}" alt="{{ profile.firstname~" "~profile.lastname }}" class="profile-photo img-raised">
                <div class="profile-card card card-raised">
                    <div class="card-body">
                        <div class="profile-header">
                            <h3 class="profile-fullname">{{ profile.firstname~" "~profile.lastname }}</h3>
                            <span class="profile-title">{{ profile.title }}</span><br>
                            <span class="profile-location">{{ profile.location }}</span>
                        </div>
                        <a href="mailto:{{ profile.user.email }}" class="btn btn-primary">Envoyer un message</a>
                        {% if profile.id == app.user.profile.id %}
                            <a href="{{ path('edit_profile') }}" class="btn btn-primary">Modifier mon profil</a>
                        {% endif %}
                        <hr>
                        <p class="profile-description" style="text-align: center;">
                            {{ profile.resume }}
                        </p>
                        <hr>
                        <label>Compétences</label>
                        <ul class="skills-list">
                            {% for skill in profile.skills %}
                                <li class="tag"><a href="/home/search?q={{ skill }}">{{ skill }}</a></li>
                            {% endfor %}
                        </ul>
                        <label>Activités favorites</label>
                        <ul class="hobbies-list">
                            {% for hobby in profile.hobbies %}
                                <li class="tag"><a href="/home/search?q={{ hobby }}">{{ hobby }}</a></li>
                            {% endfor %}
                        </ul>
                        <hr>
                        <label>Personnalité</label>
                        {% if personality is not empty %}
                            <br>
                            <span class="profile-personality">{{ personality[0] }}</span>
                            <ul class="profile-personalitylist">
                                {% for perso in personality|slice(1,4) %}
                                    <li class="">{{ perso }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{{ profile.firstname }} n'a pas réalisé le test de personnalité</p>
                        {% endif %}




                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}